<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav id="title" class="navbar navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a id="navTitle" class="navbar-brand" href="#">Surya's IB Personal Project - Home Automation</a>
          </div>
        </div>
      </nav>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="tablet">
          <div class="panel panel-primary">
              <div id="first" class="panel-heading">Basement Controls</div>
              <div class="panel-body">
                  <button id="detailBtn" class="btn btn-default">Full Controls <span class="glyphicon glyphicon-chevron-right"></span></button>
                  <app-control></app-control>
              </div>
          </div>
      </div>
      <br>
      <button type="button" id="plusBtn" class="btn btn-danger btn-circle btn-lg"><i class="glyphicon glyphicon-plus"></i></button>
</body>

